@import "_variables";

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: $black;

  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}

.category-container {
  grid-area: main;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 60rem;

  .category-item {
    position: relative;
    text-align: center;
    padding: 4px;
    margin: 16px;
    border-radius: 8px;
    background-color: white;
    width: 15rem;
    height: 20rem;
    transform: translate(0px, 0px);
    transition: all 0.5s ease-out;
    cursor: pointer;

    .title {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5rem;
      color: black;
      z-index: 1;
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      opacity: 0.8;
    }

    &:hover {
      transform: translate(0px, -8px);
      box-shadow: 0 10px 15px -3px $box-shadow-grey;
    }
  }
}
