@import "_variables";

.list-container {
  text-align: center;

  .link {
    text-decoration: none;
    color: black;

    &:focus,
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
    }
    &:hover {
      color: $gold;
    }
  }
}
