.loading-container {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.loading-img {
  width: 100%;
  height: 40%;

  animation: spin 10s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(5turn);
  }
}
